
p,
li {
    color: rgb(11, 46, 71);
}

.special {
    color: orange;
    font-weight: bold;
}

h1 {
    text-shadow: 2px 2px 1px rebeccapurple;
}
body{
    background-color: rgb(17, 117, 135);
}
p{
    color: #3bcb0f;
}